$primary: #25273c;
$light: #c1c3db;
$mutedLight: #4c4e67;
$danger: #691a7d;
$bg: #161620;
$radial-gradient: radial-gradient(circle, rgba(105,26,125,0.5847321428571428) 0%, rgba(50,52,197,1) 100%);
$linear-gradient: linear-gradient(0deg, rgba(105,26,125) 0%, rgba(50,52,197,1) 100%);
$reverse-linear-gradient: linear-gradient(0deg, rgba(50,52,197,1)  0%, rgba(105,26,125) 100%);
$pruple-blue: #3732c0dc;