@use "./colors" as *;

.card {
  background-color: $primary;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px 1px $primary;
  .card-header {
    cursor: pointer;
    img {
      width: 100%;
    }
  }
  .card-body {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .title-favoeite-wrapper {
      padding: 1rem 1rem 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $light;
      .title {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        font-size: 1.2rem;
      }
      .favorite-icon {
        font-size: 2rem;
        cursor: pointer;
      }
    }
    .description {
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;
      p {
        color: $light;
        font-size: 1rem;
      }
    }
  }
  .card-footer {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 1rem;
    cursor: pointer;
  }
}
