* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: #ffffff;
    font-family: 'Poiret One', sans-serif;
}

a , h1 {
    font-family: 'Spirax', sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 6rem;
}

li {
  list-style: none;
}

